<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.spaz.widget"
    android:versionCode="00001"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <uses-sdk android:minSdkVersion="3" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >

        <!-- activity -->
        <!-- <activity -->
        <!-- android:name=".twitter.WidgetTwitterDebugActivity" -->
        <!-- android:label="WidgetDebug" > -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->


        <!-- Wikipedia -->
        <receiver
            android:name=".pedia.WikiWidget"
            android:label="@string/wikipedia_featured_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_word" >
            </meta-data>
        </receiver>

        <service android:name=".pedia.WikiWidget$UpdateService" />
        
        
        <receiver android:name=".pedia.StackWkiRandomPageProvider"
            android:label="@string/wikipedia_random_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stackwikipediarandompageinfo" >
            </meta-data>
        </receiver>

        <service
            android:name=".pedia.StackWkiRandomPageService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- Wiktionary -->
        <receiver
            android:name=".word.WordWidget"
            android:label="@string/wiktionary_widget_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_word" >
            </meta-data>
        </receiver>

        <service android:name=".word.WordWidget$UpdateService" />

        <!-- Twitter -->
        <receiver
            android:name=".twitter.TwitterWidget"
            android:label="@string/widget_twitter_name" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_word" >
            </meta-data>
        </receiver>

        <service android:name=".twitter.TwitterWidget$UpdateService" />

        <!-- STACK -->
        <receiver android:name=".stack.StackWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/stackwidgetinfo" >
            </meta-data>
        </receiver>

        <service
            android:name=".stack.StackWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <!-- testimpl -->

        <receiver
            android:name=".testimpl.TestImpl"
            android:label="Test" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_word" >
            </meta-data>
        </receiver>

        <service android:name=".generic.GenericAppWidgetUpdatePre3Service" />
    </application>

</manifest>